@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>This is a simple Task Management System designed for comparision of backend technologies</h3>
    <h3>for Master Thesis research purpouses.</h3>
</div>