@using Microsoft.AspNetCore.Mvc.Routing
@{
    ViewData["Title"] = "Page not found";
}

<h1>Page not found.</h1>
<p>Given page does not exist. Please try again or contact site administrator.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Home</a>