@using Microsoft.AspNetCore.Mvc.Routing
@{
    ViewData["Title"] = "Unauthorized access";
}

<h1>You are not authorized to access this resource.</h1>
<p>If you think this is a mistake, please contact the administrator.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Home</a>