@model TaskManagementSystem.Models.TaskPlanned
@Html.HiddenFor(model => model.UserId, null)
@Html.HiddenFor(model => model.User, null)
@{
    ViewData["Title"] = "Create Task";
}
<h2>@ViewData["Title"]</h2>
<Form asp-action="Create">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Deadline"></label>
        <input asp-for="Deadline" class="form-control" />
        <span asp-validation-for="Deadline" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Priority"></label>
        <select asp-for="Priority" class="form-control">
            <option value="">Select Priority</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
            <option value="Critical">Critical</option>
        </select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</Form>

<div>
    <a asp-action="Index">Back to List</a>
</div>