<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block styles %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-light bg-light navbar-expand">
    <a class="navbar-brand" href="#">TaskManagementSystem</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav"> <!-- Added navbar-nav class here -->
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'privacy' %}">Privacy</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'task_list' %}">Tasks</a></li>
        </ul>
    </div>
</nav>

    <main class="container mt-4">
        {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>
</html>
